/*
Garrett Goodney & Ben Utter
Database Systems G01
12/11/23
DBMS Final Project
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #333;
}

#taskInput, #timeInput, #dayInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#addTaskBtn {
    cursor: pointer;
    padding: 10px;
    background-color: #42aa45;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#addTaskBtn:hover {
    background-color: #50b155;
}

#taskList {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px;
    background-color: #ff3e30;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #c21c1c;
}

